<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caoimheharv.msd_assignment">

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- screenOrientation cannot be rotated from portrait -->
        <activity android:name=".AdminMenu"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ManageStaff"
            android:screenOrientation="portrait"/>
        <activity android:name=".ManageShifts"
            android:screenOrientation="portrait"/>
        <activity android:name=".UpdateShift"
            android:screenOrientation="portrait"/>
        <activity android:name=".Settings"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddShift"
            android:screenOrientation="portrait"/>
        <activity android:name=".Clocking"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
